<div class="container">
  <div class="row g-3 my-2">
    <div class="col-md-3">
      <div id="card1" class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
        <div>
          <h3 class="fs-2">{{casos}}</h3>
          <p class="fs-5">Casos</p>
        </div>
        <img class="bi bi-virus2 fs-2 primary-text secondary-bg p-3 px-4" src="../../../assets/img/cases.png" alt="casos">
      </div>
    </div>

    <div class="col-md-3">
      <div id="card2" class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
        <div>
          <h3 class="fs-2">{{obitos}}</h3>
          <p class="fs-5">Óbitos</p>
        </div>
        <img class="fs-2 primary-text secondary-bg p-3 py-4 px-4" src="../../../assets/img/deaths.png" alt="obitos">
      </div>
    </div>

    <div class="col-md-3">
      <div id="card3" class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
        <div>
          <h3 class="fs-2">{{recuperados}}</h3>
          <p class="fs-5">Recuperados</p>
        </div>
        <i class="bi bi-bandaid fs-2 primary-text secondary-bg p-3 px-4"></i>
      </div>
    </div>

    <div class="col-md-3">
      <div id="card4" class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
        <div>
          <h3 class="fs-2">{{vac_tot}}</h3>
          <p class="fs-5">Vacinação</p>
        </div>
        <img class="fs-2 primary-text secondary-bg p-3 py-4 px-4" src="../../../assets/img/vaccinated.png"
          alt="">
      </div>
    </div>
  </div>
</div>
